<form [formGroup]="CustomerModel.FormCustomerGroup">
	Customer Code: <input formControlName = "FormCodeControl" [(ngModel)]="CustomerModel.CustomerCode" type=text/> <br>
Customer Name: <input formControlName = "FormNameControl" [(ngModel)]="CustomerModel.CustomerName" type=text/> <br>
Customer Amount: <input [(ngModel)]="CustomerModel.CustomerAmount" [ngModelOptions]="{standalone: true}" type=text/> <br>
	<input [disabled]= "!(CustomerModel.FormCustomerGroup.valid)" (click)="Add()" type="button" value="Add"><br>
</form>

	<div *ngIf="CustomerModel.FormCustomerGroup.dirty"
		[hidden]="!(CustomerModel.FormCustomerGroup.controls(FormCodeControl).hasError('pattern'))">Customer
		Code format is not proper</div>
	<div *ngIf="CustomerModel.FormCustomerGroup.dirty"
		[hidden]="!(CustomerModel.FormCustomerGroup.controls(FormCodeControl).hasError('required'))">Customer
		Code is required</div>
	<div *ngIf="CustomerModel.FormCustomerGroup.dirty"
		[hidden]="!(CustomerModel.FormCustomerGroup.controls(FormNameControl).hasError('required'))">Customer
		Name is required</div>

	<table>
		<tr>
			<td> Customer Code </td>
			<td> Customer Name </td>
			<td> Customer Amount </td>
		</tr>
		<tr *ngFor="let cust of CustomerModels">
			<td> {{cust.CustomerCode}} </td>
			<td> {{cust.CustomerName}} </td>
			<td> {{cust.CustomerAmount}} </td>
		</tr>